<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste Quiz</title>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div id="lobby">
        <input type="text" id="username" placeholder="Seu nome">
        <button id="btn-1v1">Jogar 1v1</button>
        <button id="btn-solo">Jogar solo</button>
        <p id="msg"></p>
    </div>

    <div id="jogo" style="display:none">
        <h1 id="title">Quiz De Bandeiras</h1>
        <h2 id="ans"></h2>
        <h3 id="round_count">""</h3>
        <div id="placar"></div>
        <img id="bandeira" src="" alt="Bandeira">
        <div id="opcoes"></div>
        <button id="btnpronto" style="display:none">Pronto</button>
    </div>

    <script src="{{ url_for('static', filename='js/ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
